body{
   background-color:#ffffff;}
h1 {color:#ffaeae;  }
p{
  font-size:16 px;
     color:#000000;
    }
header  {
   border-bottom: solid 3px #990033 ;
   pedding 10px
   font-size: 22px;
   color: red;
}
